# Basic .gitattributes for a python repo.

########## Text files
# Python Source
*.pxd            text eol=lf
*.py             text eol=lf
*.py3            text eol=lf
*.pyw            text eol=lf
*.pyx            text eol=lf

# Others
*.csv            text eol=lf
*.dist           text eol=lf
*.feature        text eol=lf
*.html           text eol=lf
*.js             text eol=lf
*.json           text eol=lf
*.less           text eol=lf
*.lock           text eol=lf
*.map            text eol=lf
*.md             text eol=lf
*.php            text eol=lf
*.po             text eol=lf
*.script         text eol=lf
*.scss           text eol=lf
*.sh             text eol=lf
*.sql            text eol=lf
*.sql            text eol=lf
*.svg            text eol=lf
*.ts             text eol=lf
*.tw             text eol=lf
*.txt            text eol=lf
*.xml            text eol=lf
*.xsd            text eol=lf
*.yml            text eol=lf
.deployignore    text eol=lf
.editorconfig    text eol=lf
.env.*           text eol=lf
.eslintignore    text eol=lf
.eslintrc        text eol=lf
.gitattributes   text eol=lf
.gitignore       text eol=lf
.htaccess        text eol=lf
Makefile         text eol=lf


########## Binary
*.DOC           -text diff
*.DOCX          -text diff
*.EOT           -text diff
*.EXE           -text diff
*.GIF           -text diff
*.GZ            -text diff
*.ICO           -text diff
*.JPEG          -text diff
*.JPG           -text diff
*.PDF           -text diff
*.PHAR          -text diff
*.PNG           -text diff
*.RTF           -text diff
*.SVGZ          -text diff
*.TTF           -text diff
*.WOFF          -text diff
*.WOFF2         -text diff
*.db            -text diff
*.doc           -text diff
*.docx          -text diff
*.eot           -text diff
*.eps           -text diff
*.exe           -text diff
*.gif           -text diff
*.gz            -text diff
*.ico           -text diff
*.jpeg          -text diff
*.jpg           -text diff
*.p             -text diff
*.pdf           -text diff
*.phar          -text diff
*.pkl           -text diff
*.png           -text diff
*.pyc           -text diff
*.pyd           -text diff
*.pyo           -text diff
*.rtf           -text diff
*.svg           -text diff
*.svgz          -text diff
*.tif           -text diff
*.tiff          -text diff
*.ttf           -text diff
*.woff          -text diff
*.woff2         -text diff
